.a {
    font-size: 15px;
    text-decoration: none;
    color: rgb(242, 245, 247);
    position: absolute;
   top: 4vh;
   left: 5vw;
}
.b {
    font-size: 15px;
    text-decoration: none;
    color: rgb(242, 245, 247);
    position: absolute;
    top: 4vh;
    left: 20vw;
}
.c {
    font-size: 15px;
    text-decoration: none;
    color: rgb(242, 245, 247);
    position: absolute;
    top: 4vh;
    left: 35vw;
}
.d {
    font-size: 15px;
    text-decoration: none;
    color: rgb(242, 245, 247);
    position: absolute;
    top: 4vh;
    right: 5vw;
}
.e {
    font-size: 15px;
    text-decoration: none;
    color: rgb(242, 245, 247);
    position: absolute;
    top: 4vh;
    left:50vw ;
}
.f {
    font-size: 15px;
    text-decoration: none;
    color: rgb(242, 245, 247);
    position: absolute;
    top: 4vh;
    left:65vw ;
}